body {
    background-color: rgb(15, 23, 42);
    color: #fff;
}

.active {
    color: rgb(20, 184, 166) !important;
}

.nav-link:hover {
    color: rgb(20, 184, 166) !important;
}

.auth-user {
    color: #fff !important;
}

.navbar .navbar-toggler {
    border: none;
    outline: none;
}

.navbar .navbar-brand {
    color: rgb(20, 184, 166) !important;
    font-weight: bold;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.btn:focus,
.btn:active,
.btn-close:focus,
.btn-close:active,
.form-control:active,
.form-control:focus,
.form-check-input:active,
.form-check-input:focus {
    outline: none;
    box-shadow: none;
}

nav {
    background-color: rgba(7, 26, 46, 0.37) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(18px) !important;
    -webkit-backdrop-filter: blur(18px) !important;
    -moz-backdrop-filter: blur(18px) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.card {
    background-color: rgb(15, 23, 42) !important;
}

.main-container {
    margin-top: 5.3rem !important;
}

.form-control,
.form-control:focus {
    background-color: rgb(226, 232, 240) !important;
    color: rgb(15, 23, 42);
    border-color: rgb(20, 184, 166) !important;
}

.list-group-item {
    background-color: rgba(15, 23, 42) !important;
    color: #fff;
}

.btn {
    background-color: rgb(20, 184, 166) !important;
    outline-color: rgb(20, 184, 166) !important ;
    border-color: rgb(20, 184, 166) !important ;
}

.btn:hover {
    background-color: rgb(16, 148, 132) !important;
    outline-color: rgb(16, 148, 132) !important ;
    border-color: rgb(16, 148, 132) !important ;
}

.badge {
    background-color: rgb(30, 41, 59) !important;
    color: rgb(203, 213, 225) !important;
}

a {
    text-decoration: none !important;
}

.list-group {
    background-color: rgb(15, 23, 42) !important;
    color: rgb(226, 232, 240);
    border-color: rgb(20, 184, 166) !important;
}

.add-task-btn {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

@media screen and (min-width: 600px) {
    .update-todos {
        margin-right: 0.3rem !important;
    }
}

@media screen and (max-width: 600px) {
    .action-btn {
        flex-direction: column !important;
    }

    .update-todos {
        margin-bottom: 0.3em !important;
    }
}

@media screen and (max-width: 600px) {
    .edit-profile {
        width: 100%;
    }
}
