body {
    background-color: rgb(15, 23, 42);
    color: #fff;
}

.navbar .navbar-toggler {
    border: none;
    outline: none;
}

.navbar .navbar-brand {
    color: rgb(20, 184, 166) !important;
    font-weight: bold;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.btn:focus,
.btn:active,
.btn-close:focus,
.btn-close:active,
.form-control:active,
.form-control:focus,
.form-check-input:active,
.form-check-input:focus {
    outline: none;
    box-shadow: none;
}

nav {
    background-color: rgba(15, 23, 42, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.card {
    background-color: rgba(15, 23, 42) !important;
}

.main-container {
    margin-top: 5.3rem !important;
}

.input-task,
.input-task:focus,
.list-group {
    background-color: rgba(15, 23, 42) !important;
    color: #fff;
    border-color: rgb(20, 184, 166) !important;
}

.list-group-item {
    background-color: rgba(15, 23, 42) !important;
    color: #fff;
}

.btn {
    background-color: rgb(20, 184, 166) !important;
    outline-color: rgb(20, 184, 166) !important ;
    border-color: rgb(20, 184, 166) !important ;
}

.badge {
    background-color: rgb(30, 41, 59) !important;
    color: rgb(203, 213, 225) !important;
}

a {
    text-decoration: none !important;
}
